*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* per il body */
body{
  height: 100vh;
  width: 100vw;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
/* per l'header di sinistra e di destra */
.header_left, .header_right{
  background-color: #eeeeee;
  border-bottom: 0.5px solid rgba(0,0,0, 0.1);
  height: 60px;
}
/* header e sezione di sinistra */
.header_left, .section_left{
  float: left;
  width: 30%;
  border-right: 0.5px solid rgba(0,0,0, 0.2);
  position: relative;
}
/* header e sezione di destra */
.header_right, .section_right{
  float: left;
  width: 70%;
  position: relative;
}
/* sezione di sinistra e di destra */
.section_left, .section_right{
  height: calc(100vh - 60px);
}
/* per il contenitore di tutte le chat a sinistra */
div.chat_container{
  overflow-y: auto;
  width: 100%;
  height: calc(100vh - 110px);
}
/* per il container della singola chat con la persona */
div.container_single_chat{
  width: 100%;
  height: calc(100vh - 120px);
  background-image: url('https://i.imgur.com/TnNwdvV.jpg');
  position: relative;
  overflow-y: auto;
  padding: 20px;
}
/* per le immagini del profilo */
img.profile_img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 30px;
}
/* per il contenitore delle icone */
.header_left_icons, .header_right_icons{
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}
/* per le singole icone */
.header_left_icons i, .header_right_icons i{
  font-size: 18px;
  margin-left: 30px;
  cursor: pointer;
  opacity: 0.5;
}
/* per il container del nome e dell'ultimo accesso e del nome e dei vari messaggi */
.person{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100px;
  margin-top: 0;
}
/* annullo i margini dei p */
p{
  margin: 0;
}
/* per il nome della persona */
.person .person_name{
  margin: 0;
  opacity: 0.7;
}
/* per il colore dell'ultimo accesso */
.header_right .person .last_login,
/* per il messaggio della persona a sinistra */
.person .person_message{
  opacity: 0.5;
}
/* per trovare una chat */
div.search_chat{
  height: 50px;
  width: 100%;
  padding: 0 30px;
  border-bottom: 0.5px solid rgba(0,0,0, 0.2);
}
/* per l'input text */
div.search_chat input{
  height: 40px;
  width:80%;
  margin-top: 5px;
  font-size: 16px;
  border: 0;
  border-radius: 30px;
  margin-left: 20px;
}
/* per togliere il bordo quando seleziono l'input text */
input:focus{
  outline: none;
}
/* per l'iconcina del search */
div.search_chat i{
  cursor: pointer;
  font-size: 16px;
  opacity: 0.6;
}
/* per le varie chat */
.chat{
  position: relative;
  border-bottom: 0.5px solid rgba(0,0,0, 0.2);
  height: 60px;
}
/* per la prima chat selezionata */
.first_chat{
  background-color: #efefef;
}
/* quando passo sopra le altre chat */
.chat:hover{
  background-color: #efefef;
  cursor: pointer;
}
/* per il contenitore del messaggio */
.messages{
  width: 100%;
  display: block;
  margin-top: 5px;
  overflow: auto;
}
/* per il messaggio dell'altro utente e del mio */
.other_message, .mine_message{
  width: 200px;
  height: 40px;
  max-width: 300px;
  word-break: break-all;
  position: relative;
}
/* per l'orario del messaggio */
.messages .time{
  position: absolute;
  right: 5px;
  bottom: 0;
  opacity: 0.6;
  font-size: 12px;
}
/* per il messaggio dell'altro utente */
.other_message{
  margin-left: 30px;
  float: left;
}
/* per il mio messaggio */
.mine_message{
  margin-right: 30px;
  float:right;
}
/* per il background white del messaggio dell'altro utente */
.other_message.white{
  border-radius: 10px;
  background-color: white;
}
/* per il mio messaggio verde */
.mine_message.green{
  border-radius: 10px;
  background-color: #c2f7be;
  display: block;
}
/* per i testi dei messaggi e dell'input text  */
.other_message p, .mine_message p, .write_message input{
  padding: 10px;
  color: black;
  font-size: 16px;
}
/* per il contenitore dove scrivere il messaggio da inviare */
.section_right .write_message{
  width: 100%;
  height: 60px;
  padding: 0 30px;
  position:absolute;
  background-color: #efefef;
  bottom: 0;
}
/* per l'input text del messaggio da inviare */
.section_right .write_message input{
  height: 50px;
  margin-top: 5px;
  border: none;
  margin-left: 20px;
  width: 80%;
  border-radius: 30px;
}
/* per le iconcine dello smile e dell'invio messaggio */
.section_right .write_message i{
  font-size: 20px;
  opacity: 0.6;
  cursor: pointer;
  color: black;
}
/* per separare l'invio */
.section_right .write_message .send{
  margin-left: 80px;
}

/* per le scrollbar */
*::-webkit-scrollbar-thumb {
   background-color: rgba(0, 0, 0, 0.2);
}
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
